body,
body * {background-color:#fff; 
        font-family: 'Calibri';
}
main,
.container {width: 1200px; 
            margin-left: 200px; 
            margin-top: 150px; 
            display: flex; 
            gap: 64px;
}
.Icolumn {width: 230px;
}
.Ilogo {background-color: #51C3CD; 
     width: 230px; 
     object-fit: contain; height: 230px; 
     object-position: center;
}
.Itit {text-align: center; 
    color: #F24C32;
}
.Ipar {font-size: 22px;
}
.IIcolumn {width: 230px;
}
.IIlogo {background-color: #3A6EC1; 
     width: 230px; 
     object-fit: contain; height: 230px; 
     object-position: center;
}
.IItit {text-align: center; 
    color: #F24C32;
}
.IIpar {font-size: 22px;
}
.IIIcolumn {width: 230px;
}
.IIIlogo {background-color: #F34D33; 
     width: 230px; 
     object-fit: contain; height: 230px; 
     object-position: center;
}
.IIItit {text-align: center; 
    color: #F24C32;
}
.IIIpar {font-size: 22px;
}
.IVcolumn {width: 230px;
}
.IVlogo {background-color: #919191; 
     width: 230px; 
     object-fit: contain; height: 230px; 
     object-position: center;
}
.IVtit {text-align: center; 
    color: #F24C32;
}
.IVpar {font-size: 22px;
}